*,
*::after,
*::before{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-image: url(../img/background.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

/* Header */
.page-header{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
    transition: 0.5s ease-in-out;
}
.page-header:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 88vw;
    margin-right: auto;
    margin-left: auto;
    padding-top: 18px;
    padding-bottom: 18px;
}
.header-logo{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s ease;
    color: #fff;

}
.header-options{
    display: flex;
    align-items: center;
}
.header-option-link{
    margin-right: 27px;
    text-decoration: none;
}
.header-options-img{
    transition: 0.2s ease;
}
.header-option-link:hover .header-options-img{
    fill: #236c47;
 
}
.log-in-sign-up, .options-right-link{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    transition: 0.2s ease; 

    color: #FFFFFF;
}
.header-logo:hover,
.options-right-link:hover{
    color: #236c47;

    
}
.header-imgs::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    margin-right: 27px;
    border: none;
}

/* Main Part */
.page-main{
    height: 92%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.container{
    width: 444px;
    height: 584px;

    padding-left: 60px;
    padding-right: 60px;
    padding-top: 31px;
    
    background-color: #fff;

    position: relative;
}
.form-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 39px;
    border-bottom: 1px solid #F2F2F2;
}
.form-header::after{
    content: "or";
    position: absolute;
    display: block;
    top: 145px;
    left: 211.3px;
    background-color: #fff;
    padding-right: 4px;
    padding-left: 4px;
    font-family: Ubuntu;
    color: #848484;
    font-size: 14px;
    line-height: 14px;
}
.form-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 15px;
}
.form-title{
    display: inline-block;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;

    color: #434343;
}
.form-title::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 32px;
    width: 18px;
    height: 18px;

    background: #3CB878;
}
.form-log-in,
.terms-conditions-link{
    text-align: left;
    font-family: Ubuntu;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    transition: 0.1s ease-in-out;
    color: #3CB878;
}
.form-log-in:hover,
.terms-conditions-link:hover{
    color: #01813F;
    text-decoration: underline;
}
.form-header-button{
    width: 160px;
    height: 48px;
    background: #305DB8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.2s ease-in-out;
}
.form-header-button:last-child{
    background: #DF4A32;
}
.form-header-button:hover{
    background: #022263;
}
.form-header-button:last-child:hover{
    background: #AB1F09;
}
.button-text::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    
    border: none;
    background: #0A162F;
    opacity: 0.1;

    position: absolute;
    left: 49px;
    top: 10px;
}
.button-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-right: 19px;

    color: #FFFFFF;
}
.button-text-2{
    margin-right: 27px;
}
.button-img{
    margin-left: 13px;
}
.button-img-2{
    margin-left: 7px;
}

.sign-up-form{
    margin-top: 17px;
}
.label-input{
    width: 324px;
    height: 46px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    transition: 0.2s ease;
    padding-left: 19px;
}


.label-input-last{
    margin-bottom: 12px;
}
.label-input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.terms-checkbox{
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 14px;

    color: #434343;
}
.create-account-button{
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;

    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    font-family: Ubuntu;

    color: #FFFFFF;

    margin-bottom: 38px;
    margin-top: 20px;
    transition: 0.2s ease-in-out;

    cursor: pointer;
}
.create-account-button:hover{
    background: #01813F;
    border-radius: 10px;


}
/* .page-footer{
    height: 74px;
} */
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked){
    display: none;
}
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;

    left: 0px;
    top: 0px;

    width: 20px;
    height: 20px;

    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 2.4px;
    top: 4px;
    width: 16px;
    height: 9px;
    border-radius: 1px;
    border-left: 2.5px solid #01813F;
    border-bottom: 2.5px solid #01813F;
    transform: rotate(-50deg);
}
input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}
