.wrapper{
    position: fixed;
    height: 100%;
    background-color: black;
    width: 100%;
}
.perspective-container{
    perspective: 1000px;

}
@font-face {
    font-family: starFont;
    src: url(../fonts/Starjedi.woff2);
}

@keyframes text-anima {
    0%{
        padding-top: 800px;
    }
    100%{
        padding: 0;
    }
    
}

.main-text{
  display: block;
  width: 520px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  perspective: 500px;

  font-size: 30px;
  font-family: starFont;

  transform: scale3d(1, 1 , 2) rotateX(70deg);

color: rgb(238, 164, 27);
  position: relative;
    
  animation-name: text-anima;
  animation-duration: 30s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.center-text{
    display: block;
    text-align: center;
}