*,
*::after,
*::before {
  box-sizing: border-box;
}

/* header */
.page-header {
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 50px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  background-color: #313131;
}
.logo,
.logo-link {
  display: inline-block;
  vertical-align: middle;
}
.logo-img {
  padding: 22px 27px;
}
.logo-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.menu {
  height: 100%;
  margin-top: 26px;
}
.menu-link {
  text-decoration: none;
  margin-right: 18px;
  margin-left: 18px;
}
.menu-item {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.menu-item:hover {
  color: #14b9d5;
}
.search {
  background-color: #000;
  width: 74.5px;
}
.search-button {
  display: inline-block;
  padding: 27px;
  padding-left: 28px;
}
.news {
  background-image: url(../img/header/background.png);
  background-size: 100% 445px;
  height: 370px;
  background-attachment: fixed;
  /* content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(-150px) scale(4);
  background: center/cover no-repeat; */
}
.latest-news-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 670px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 164px;
}
.news-title-text {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  margin: 0;
  color: #ffffff;
}
.news-title {
  margin-bottom: 44px;
}
.subscribe-but {
  width: 170px;
  height: 55px;
  background-color: #89ca62;
  margin-right: 10px;
  border-radius: 5px;
}
.best-articles-but {
  width: 170px;
  height: 55px;
  background-color: #14b9d5;
  margin-left: 10px;
  border-radius: 5px;
}
.news-but-link {
  display: block;
  height: 100%;
  text-decoration: none;
  text-align: center;
  padding-top: 16px;
}
.news-but-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

/* Main section */
/* P-P */
.popular-posts {
  background-color: #f2f2f2;
}
.popular-posts-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin: 0;
  padding-top: 49px;
  padding-bottom: 52px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
.p-p-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  height: 890px;
}

.p-p-description {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
}
.p-p-link {
  text-decoration: none;
}
.popular-posts-item {
  background-color: #fff;
  margin-bottom: 32px;
}
.popular-posts-item:nth-child(1),
.popular-posts-item:nth-child(2) {
  width: 370px;
}
.popular-posts-item:nth-child(3),
.popular-posts-item:nth-child(4),
.popular-posts-item:nth-child(5),
.popular-posts-item:nth-child(6) {
  width: 370px;
}

/* P-C  */
.popular-clients {
  background-image: url(../img/main/popular-clients/background.jpg);
  background-attachment: fixed;
}
.p-c-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 106px;
  padding-bottom: 87px;
  margin: 0;
}
.p-c-line {
  width: 60px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  color: #18b4cf;
  background-color: #18b4cf;
}
.p-c-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 191px; */
  padding-bottom: 86px;
  width: 881px;
  padding-top: 86px;
}
.p-c-item {
  margin-right: auto;
  margin-left: auto;
}
/* T-R */
.t-r-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  color: #18b4cf;

  margin-top: 49px;
  margin-bottom: 52px;
}
.t-r-link {
  display: inline-block;
  flex-grow: 1;
}
.t-r-photo-wrapper {
  display: flex;
  justify-content: stretch;
  width: 100%;
}
.t-r-img {
  width: 100%;
}
/* H-N */

.h-n-main-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  color: #18b4cf;
  margin-top: 48px;
  margin-bottom: 51px;
}
.h-n-item {
  width: 554px;
  background-color: #f9f7f7;
}
.h-n-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  margin-top: 12px;
  padding-bottom: 15px;
  margin-right: 14px;
  margin-bottom: 0;

  color: #353a3d;
}
.h-n-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  margin-top: 0;
  margin-right: 14px;
  margin-bottom: 0;
  color: #5b6469;
}
.n-h-wrapper {
  width: 374px;
  display: inline-block;
}
.h-n-item:nth-child(1) {
  width: 857px;
  display: flex;
  justify-content: center;
}
.h-n-item:nth-child(8) {
  width: 832px;
  display: flex;
  justify-content: center;
}
.h-n-title:nth-child(1),
.h-n-title:nth-child(8) {
  margin-top: 41px;
  margin-right: 24px;
  padding-bottom: 14px;
}
.h-n-description-first,
.h-n-description-eight {
  margin-right: 24px;
  font-size: 14px;
  margin-bottom: 40px;
  line-height: 21px;
}

.h-n-item:nth-child(2),
.h-n-item:nth-child(7) {
  width: 277px;
}
.h-n-title-two,
.h-n-title-seven {
  text-align: center;
}

.h-n-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 42px;
  grid-column-gap: 60px;
  margin-bottom: 77px;
}

.h-n-item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 4;
}
.h-n-item:nth-child(2) {
  grid-area: 1 / 4 / 2 / 5;
}
.h-n-item:nth-child(3) {
  grid-area: 2 / 1 / 3 / 3;
}
.h-n-item:nth-child(4) {
  grid-area: 2 / 3 / 3 / 5;
}
.h-n-item:nth-child(5) {
  grid-area: 3 / 1 / 4 / 3;
}
.h-n-item:nth-child(6) {
  grid-area: 3 / 3 / 4 / 5;
}
.h-n-item:nth-child(7) {
  grid-area: 4 / 1 / 5 / 2;
}
.h-n-item:nth-child(8) {
  grid-area: 4 / 2 / 5 / 5;
}
/* Footer */
.page-footer {
  background-color: #000;
}
.footer-text {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  margin: 0;
}
.footer-image {
  display: inline-block;
}
.footer-image:nth-child(2) {
  margin-bottom: 8px;
}
.footer-logo {
  display: inline-block;
  vertical-align: top;

  height: 25px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 30px;

  vertical-align: middle;
}
